.profileContaner{
  /* width: 30%; */
  width: 350px;
  min-width: 300px;
  height: 450px;
  margin: auto;
  padding: 50px 10px;
  background-color:rgba(84, 84, 219, 0.237);
  position: relative;
  display: flex;
  justify-content: center;
}

.profileContaner img{
  width: 80%;
  margin: auto
}
.profileDetails{
  position: absolute;
  background-color: white;
  padding: 50px 20px;
 top: 55%;
 box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.08);
 border-radius:5px;
}
.name{
  font-size: 20px;
  font-weight: bold;
}
.profileDetails{
  text-align: left;
}
.profileDetails h4{
  font-weight: 500;
  font-size: 15px;
  opacity: 0.8;
} 
.profileDetails h3,h4{
  border-bottom: 1px solid rgba(0, 0, 0, 0.241);
  margin-bottom: 3px;
}